/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-main: #0040ff;
  --c-beige: #e3e3e3;
  --c-gray: #262626;
  --c-lightgray: #686868;
}

/* semantic color variables for this project */
:root {
  --color-main: var(--c-main);
  --color-background: var(--c-beige);
  --color-text: var(--c-gray);
  --color-lighttext: var(--c-lightgray);
  --section-gap: 160px;
  --font-size: 15px;
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1rem;
  --app-padding: 2rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Helvetica Bold' !important;
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url('/src/assets/Helvetica-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial Black';
  src: url('/src/assets/Arial-Black.ttf') format('truetype');
}
