@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: var(--app-padding);
  font-weight: normal;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

a:visited {
  color: var(--color-text);
}

a:active,
a:hover,
.router-link-active,
.router-link-hover {
  color: var(--color-main) !important;
}

h1 {
  font-size: var(--h1);
  line-height: var(--h1-line-height);
}

h2 {
  font-size: var(--h2);
  line-height: var(--h2-line-height);
}

h3 {
  font-size: var(--h3);
  line-height: var(--h3-line-height);
}

h4 {
  font-size: var(--h4);
  line-height: var(--h4-line-height);
}

html {
  font-size: var(--font-size);
}

body {
  display: flex;
}

@media (min-width: 768px) {
  #app {
    padding: var(--app-padding);
  }
}

.arrowLink::before {
  content: '\276F';
  color: var(--color-main);
  margin-right: 0.1em;
}
