// =============== BASE ===============

/* color palette from <https://github.com/vuejs/theme> */
$c-main: #0040ff;
$c-beige: #e3e3e3;
$c-gray: #262626;
$c-lightgray: #686868;

/* semantic color variables for this project */
$color-main: $c-main;
$color-background: $c-beige;
$color-text: $c-gray;
$color-lighttext: $c-lightgray;
$section-gap: 160px;
$font-size: 15px;
$headings: (
  h1: 2.5rem,
  h2: 2rem,
  h3: 1.5rem,
  h4: 1rem
);

// General layout
$app-padding: 2rem;
$small-app-padding: calc($app-padding / 2);
$footer-line-height: 0.75rem;
$header-shrink-line-height: 1.75rem;
$header-shrink-box-shadow: 2.5px;
$content-footer-gap: 1rem;
$content-min-height: calc(100vh - 2 * $app-padding - $footer-line-height - $content-footer-gap);
$content-min-height-mobile: calc(
  100vh - 2 * $small-app-padding - 2 * 3 * $header-shrink-line-height - $header-shrink-box-shadow -
    $app-padding - $content-footer-gap - $footer-line-height
);
